# Gathering Insights using IMDB Personnel and ROI from The Numbers

In [1]:
### Import the nessesary libraries
import pandas as pd
import sqlite3 
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
import scipy.stats as stats
import seaborn as sns

In [2]:
df_IMDB = pd.read_csv('data/IMDBPersonnel_HighRating.csv') 
df_roi = pd.read_csv('data/df_roi.csv')

In [5]:
df_roi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2104 entries, 0 to 2103
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          2104 non-null   int64
 1   Primary_Title       2104 non-null   object
 2   Original_Title      2104 non-null   object
 3   AVG_Rating          2104 non-null   float64
 4   Num_Votes           2104 non-null   int64
 5   id                  2104 non-null   int64
 6   release_date        2104 non-null   object
 7   movie               2104 non-null   object
 8   production_budget   2104 non-null   object
 9   domestic_gross      2104 non-null   object
 10  worldwide_gross     2104 non-null   object
 11  budget_millions     2104 non-null   float64
 12  budget_binning      2104 non-null   int64
 13  domestic_millions   2104 non-null   float64
 14  worldwide_millions  2104 non-null   float64
 15  roi                 2104 non-null   float64
dtypes: float64(5), int64(4), object(7)
memory usage: 263.1+ KB

## Merge the two tables together on the primary title

In [9]:
df = pd.merge(df_IMDB, 
             df_roi, 
             how='inner', 
             left_on = 'p_title', 
             right_on='Primary_Title')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4314 entries, 0 to 4313
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0_x        4314 non-null   int64
 1   name                4314 non-null   object
 2   p_title             4314 non-null   object
 3   o_title             4314 non-null   object
 4   genres              4312 non-null   object
 5   job                 4314 non-null   object
 6   rating              4314 non-null   float64
 7   Unnamed: 0_y        4314 non-null   int64
 8   Primary_Title       4314 non-null   object
 9   Original_Title      4314 non-null   object
 10  AVG_Rating          4314 non-null   float64
 11  Num_Votes           4314 non-null   int64
 12  id                  4314 non-null   int64
 13  release_date        4314 non-null   object
 14  movie               4314 non-null   object
 15  production_budget   4314 non-null   object
 16  domestic_gross      4314 non-null   object
 17  worldwide_gross     4314 non-null   object
 18  budget_millions     4314 non-null   float64
 19  budget_binning      4314 non-null   int64
 20  domestic_millions   4314 non-null   float64
 21  worldwide_millions  4314 non-null   float64
 22  roi                 4314 non-null   float64
dtypes: float64(6), int64(5), object(12)
memory usage: 808.9+ KB

In [10]:
df.name.value_counts()

Tim Bevan                  15
Eric Fellner               14
Scott Rudin                14
Stan Lee                   13
Peter Chernin              10
                           ..
Charlene Sawit-Esguerra     1
Derrick Tseng               1
Simon Rich                  1
Peter Bouckaert             1
Matthew Clayfield           1
Name: name, Length: 3226, dtype: int64